
<h1>Membership Updates</h1>

<p id="notice"><%= notice %></p>

<p>
  <b>Membership Title: </b>
  <%= @membership.title %>
</p>
	
<p>
  <b>Membership Description: </b>
  <%= @membership.description.html_safe %>
</p>
	

