<div id="logo">
	
	<%= link_to "", {:controller=>"home", :action=>'index'} %>
</div>
<div id="slogon"><img src="/assets/slogon.png" alt="" /></div>
<div id="copyright">Copyright 2011, All Rights Reserved</div>