<div>
	<div id="dialog2" class="window">
		<div class="inner" style="font-weight:normal;">
			<div>
				
				<p style="color:#990000; margin:0; padding:3px 0 0 31px">
						<strong>
							<%= @publications.title %>
						</strong>
				</p>
			    <p style="color:#000; margin:0; padding:8px 0 0 31px">
			    	<strong>Author</strong> : <%= @publications.author %>
			    </p>
			    <p style="color:#000; margin:0; padding:12px 0 0 31px">
			    	<strong>Description</strong> :<%= truncate(@publications.description, :length => 1000).html_safe %> 
			    </p>
			    
			   <span style="float:right"> <h2><%= link_to("Download PDF ", @publications.pdf_url, :class => :pdf) %></h2></span>
			</div>
		</div>
	</div>
</div>
