<div>
	<div id="dialog2" class="window">
		<div class="inner" style="font-weight:normal;">
			<div>
				
				<p style="color:#990000; margin:0; padding:15px 0 0 118px">
						<strong>
							<%= @publications.title %>
						</strong>
				</p>
			    <p style="color:#000; margin:0; padding:8px 0 0 118px">
			    	<strong>Author</strong> : <%= @publications.author %>
			    </p>
			    <p style="color:#000; margin:0; padding:12px 0 0 118px">
			    	<strong>Description</strong> :<%= @publications.description %> 
			    </p>
			    <h3><a href="#">Download Pdf Version</a></h3>
			</div>
		</div>
	</div>
</div>
