
    <h1>Publications</h1>
    <br>
 <div class="award_wrap">
   <table class="p_table" width="95%" border="0" cellspacing="0" cellpadding="10">
   	 <tr>
    <td width="70%" align="left" valign="top" class="p_table_bg">Title</td>
    <td width="30%" align="left" valign="top" class="p_table_bg">Author Name </td>
  </tr>
   
   <% @publications.each do |publication|%>
    	<!-- Row 1 start -->
        <tr>
        	<td align="left" valign="top" class="p_td_bg"><%= link_to "#{publication.title}", {:controller=>"publications",:action => 'show', :id=>"#{publication.id}"}, :remote => true %></td>
   			 <td align="left" valign="top" class="p_td_bg"><%= link_to "#{publication.author}", {:controller=>"publications",:action => 'show', :id=>"#{publication.id}"}, :remote => true %></td>
        
             
       </tr>
			<div class="clear"></div>  
       
        
<!-- Row 1 start -->
			<div id="modal-box" style="display:none;"></div>
        
       <% end %> 
        
		


</table>
</div>
<div id="pagination">
	<ul>
    	<li><%= will_paginate @publication %></li>
    </ul>
</div>




      <!-- Row 3 end -->
        <div class="clear"></div>
             
           
    