<div id="content_area" style="background:url(/assets/content_bk.png) no-repeat;">
    
    
    
    <div class="col_1">
    	<p>The Nagpur Centre of The Indian Institute of Architects was established on 26th August 1973. That was the first step towards strength, when members of the erstwhile Architects' Association of Nagpur gave themselves this honourable place in the hierarchy of the Institute.</p>
        <p>The Centre has always put up an extra ordinary display of dedicated workmanship, good understanding and fraternal relationship in conducting various seminars, conferences regularly. Notable achievements being the National Convention in 1988 and Young Architects' Festival in 1997, which are still hailed as the most popular, well organized and well attended events of The Indian Institute of Architects. 'Rachana' - an exhibition of building materials and office automation systems was started in 1988 along with the National Convention and was organized every alternate year. Since last 3-4 years, it has become our yearly feature.</p>
        <p align="right"><a href="#"><img src="/assets/read-more.png" alt="" /></a></p>
    </div>
    
    <div class="col_2">
	<div>
	
    	<h2>News and Events</h2>
		<marquee onmouseover=this.stop() onmouseout=this.start() scrollAmount=2 scrollDelay=2 direction=up style="height:180px;">
			<% @news.each do |news|%>
       			   <p><strong><%= news.title %></strong> <br />
				   <%= news.description.html_safe %>
 </p>
 <% end %>
  </marquee>
  
 <h2>Architecture Institutions</h2>
 <ul>
 	<li>Sample text here</li>
    <li>Your sample text here</li>
    <li>Sample text here</li>
    <li>Your sample text here</li>
    <li>Sample text here</li>
    <li>Your sample text here</li>
 </ul>
 </div>
    </div>

  
    
    	<div class="advertise_area">
        	<p align="center"><img src="/assets/add-banner.png" alt="" /></p>
            <p align="center"><img src="/assets/add-banner.png" alt="" /></p>
            <p align="center"><img src="/assets/add-banner.png" alt="" /></p>
            <p align="center"><img src="/assets/add-banner.png" alt="" /></p>

           <!-- <p align="center">
            	<h3 style="font-size:14px; margin:40px 0 0 10px;; padding:4px 0 4px 0; background:#646464; text-align:center; color:#FFFFFF">Upcoming Events</h3>
                <div style="color:#000; text-align:center; padding:5px; background:#FFFFFF; width:160px; height:60px; margin:8px auto 0 22px; font-size:14px;">
						<h1 class="flash" style="margin:0; padding:0; font-size:15px; color:#FF0000">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</h1>
				</div>
            </p>-->
        </div>
        
        
         
    
    
    </div>