
<div class="news_heading">Lectures & Functions</div>
<div class="award_wrap">
	
	<div class="award_details">
		<span class="award_heading"><%= @lectures.title%></span>
		<p><%= @lectures.description.html_safe%></p>
	</div>	
	<div id="gallery">
		<ul>
			<% lecture_albums = Lalbum.find_all_by_lecture_id(@lectures.id) %>
			<% lecture_albums.each do |lecture_album|%>
			
				<li>
					<%= link_to image_tag(lecture_album.lectphoto.url(:mid_thumb)), lecture_album.lectphoto.url() %>
				</li>
			<% end %>
			
		</ul>
	</div>	
	
</div>
</div>
      <div id="content_area_bottom"></div> 



