<%= form_for [:admin, @architect], :html => { :multipart => true } do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, :class => 'text' %>
  </p>
  
  <%= render :partial =>"button" %>
<% end %>