
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    
    
</head>
<body>

	<div style="padding-bottom: 6px; font-family: Verdana; border: 1px solid #808080; background-color: #808080; width: 650px;">
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<tbody>
			<tr>
				<td style="background-color:#808080;">
					<div style="text-align: left; float: left; margin-left: 9px; margin-bottom: 5px; margin-top: 10px;">
					
						<div id="header_left"><a href="http://iiaarchitect.heroku.com"><img src="http://iiaarchitect.heroku.com/assets/lg.png" alt="" border="0" /></a></div>
	  					<div id="header_right"><a href="http://iiaarchitect.heroku.com"><img src="http://iiaarchitect.heroku.com/assets/int_name.png" alt="" border="0" /></a></div>
					
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div style="padding: 0px;">
		<div style="clear: both; background-color: #fff;">
			<div style="padding: 5px; background-color: #fff; font-size: 13px;">
				<div style="padding: 10px;">Name : <%= @contact.name %></div>
				<div style="padding: 10px;">Email : <%= @contact.email %> </div>
				<div style="padding: 10px;">Message : <%= @contact.phone %></div>
				<div style="padding: 10px;">Message : <%= @contact.message %></div>
				
					<table width="100%" border="0">
					<tr>
						<td valign="top" align="right" style="padding-right: 1px;">&nbsp;</td>
						
					</tr>
					</table>
			</div>
		</div>
	</div>
	<div style="padding-top: 6px; text-align: center; font-size: 9px; padding-bottom: 6px;">
	<div style="color: rgb(255, 255, 255);">
	IIA Nagpur center © 2011. Powered by <a target="_blank" href="http://kunalinfotech.net/" style="color: rgb(255, 255, 255);">Kunal Infotech Pvt Ltd</a>
  </div>
		
		
	</div>
	      
</body>	
</html>




