<h1>Commitee</h1>
<div class="col_3" style="width:880px;">
    	<div class="profile_1">
        	<img src="assets/avtar.png" alt="" align="left"  style="padding-right:5px; padding-bottom:25px;"/>
            <h3><a href="/1.html" class="jTip" id="one" name="molestie consequat">John Doe</a></h3>
            
		<div class="clear"></div>   
        </div>
        <div class="profile_1" >
        	<img src="assets/avtar.png" alt="" align="left"  style="padding-right:5px; padding-bottom:25px;"/>
            <h3><a href="/1.html" class="jTip" id="two" name="Nam liber">John Doe</a></h3>
			
         <div class="clear"></div>   
        </div>
		<div class="profile_1">
        	<img src="assets/avtar.png" alt="" align="left"  style="padding-right:5px; padding-bottom:25px;"/>
            <h3><a href="/1.html" class="jTip" id="three" name="nihil imperdiet">John Doe</a></h3>
         <div class="clear"></div>   
        </div>
		
        <div class="clear"></div> 
		
		
		<div class="profile_1">
        	<img src="assets/avtar.png" alt="" align="left"  style="padding-right:5px; padding-bottom:25px;"/>
            <h3><a href="/1.html" class="jTip" id="four" name="Typi non">John Doe</a></h3>
			</a>
         <div class="clear"></div>   
        </div>
        <div class="profile_1" >
        	<img src="assets/avtar.png" alt="" align="left"  style="padding-right:5px; padding-bottom:25px;"/>
            <h3><a href="/1.html" class="jTip" id="five" name="qui facit">John Doe</a></h3>

         <div class="clear"></div>   
        </div>
		<div class="profile_1" >
        	<img src="assets/avtar.png" alt="" align="left"  style="padding-right:5px; padding-bottom:25px;"/>
            <h3><a href="/1.html" class="jTip" id="six" name="Claritas est">John Doe</a></h3>
         <div class="clear"></div>   
        </div>
		
        <div class="clear"></div>
		
		<div class="profile_1">
        	<img src="assets/avtar.png" alt="" align="left"  style="padding-right:5px; padding-bottom:25px;"/>
            <h3><a href="/1.html" class="jTip" id="seven" name="legunt saepius">John Doe</a></h3>

         <div class="clear"></div>   
        </div>
        <div class="profile_1" >
        	<img src="assets/avtar.png" alt="" align="left"  style="padding-right:5px; padding-bottom:25px;"/>
            <h3><a href="/1.html" class="jTip" id="eight" name="qui sequitur">John Doe</a></h3>
			</a>
         <div class="clear"></div>   
        </div>
		<div class="profile_1" >
        	<img src="assets/avtar.png" alt="" align="left"  style="padding-right:5px; padding-bottom:25px;"/>
            <h3><a href="/1.html" class="jTip" id="nine" name="littera gothica">John Doe</a></h3>
         <div class="clear"></div>   
        </div>
		
        <div class="clear"></div> 
		
		
		<div class="profile_1">
        	<img src="assets/avtar.png" alt="" align="left"  style="padding-right:5px; padding-bottom:25px;"/>
            <h3><a href="/1.html" class="jTip" id="ten" name="ullamcorper suscipit">John Doe</a></h3>

         <div class="clear"></div>   
        </div>
        <div class="profile_1" >
        	<img src="assets/avtar.png" alt="" align="left"  style="padding-right:5px; padding-bottom:25px;"/>
            <h3><a href="/1.html" class="jTip" id="elevan" name="iriure dolor">John Doe</a></h3>

         <div class="clear"></div>   
        </div>
		<div class="profile_1" >
        	<img src="assets/avtar.png" alt="" align="left"  style="padding-right:5px; padding-bottom:25px;"/>
            <h3><a href="/1.html" class="jTip" id="twelve" name="consectetuer adipiscing">John Doe</a></h3>
         <div class="clear"></div>   
        </div>
		
        <div class="clear"></div> 
		
		
        
    </div>
   