<h1>Commitee</h1>

<div class="col_3" style="width:880px;">
	<% @committees.each do |committee| %>
    	<div class="profile_1">
        	
        	<%= image_tag committee.committee_url(:thumb) ,:align => :left, :class => 'avtar'  %>
            <h3><a href="/1.html.erb?width=400" class="jTip" id="one"><%= committee.name%></a></h3>
            <div class="clear"></div> 
            </div>
	<% end %>
	<div id="pagination">
	<ul>
    	<li><%= will_paginate @members %></li>
    </ul>
</div>
 </div>
   