<p><img src="/assets/avtar.png" alt="" align="left" style="margin:0 10px 0 0px;" /> 
	
<p><strong>Designation : <%= @committee.designation%> </strong></p><p>
 <%= @committee.brief_info %></p>
  <h3><a href="#">Year Book</a></h3>