@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
    background:url(/assets/home/body2.jpg) repeat-y #FCFCFC;
	font-family:Arial, Helvetica, sans-serif;
	overflow:hidden;
}

img {
	border: 0;
}

.clear {
	clear:both
}


.flash {
	color: #000;
}
.flash-colour {
	color: #da9d4d;
}
.blue {
	color: #6495ff;
}


#wrapper {
	width:100%;
}

#side_bar {
	background: url(/assets/sidebar.jpg) no-repeat;
	height:750px;
	width:374px;
	position:relative;
	float:left;
}

#side_bar .menu {
	width:236px;
	height:auto;
	position: absolute;
	top:25px;
	right:10px;
	z-index:999
}


#side_bar .menu ul {
	margin:0;
	padding:0 30px 0 0;
	list-style:none;
	text-align:right
}

#side_bar .menu ul li {
	margin:3px;
}


#main_wrapp {
	width:70%;
	position:relative;
	right:0;
	float:right
}

 .news_ticker {
	position:absolute;
	top:145px;
	left:0;
	font-size:12px;
}


#header {
	height:138px;
	border-bottom: solid 1px #7A7B7C;
	position:relative;
}

#header .logo {
	padding:32px 0 0 0;
}

#header .cm_logo {
	position:absolute;
	right:30px;
	top:15px;
}

#content_area {
	background:url(/assets/content_bk2.png) no-repeat;
	height:390px;
	position:relative;
	top:30px;
	margin:0px 0 0 0;
}





#content_area .advertise_area {
	background: url(/assets/cont_right.png) no-repeat;
	width:210px;
	height:441px;
	position:absolute;
	top:12px;
	left:670px;
}

#content_area .col_1 {
	width:320px;
	float:left;
	margin:15px 0px 0 35px;
	padding:0 0px 0 0
}


#content_area .col_3 {
	width:330px;
	float:left;
	margin:15px 0px 0 35px;
	padding:0 24px 0 0;
}

#content_area .col_4 {

	margin:15px 0px 0 35px;
	padding:0 24px 0 0;
}





#content_area .col_1 p {
	margin:0;
	padding:8px 0 0 0;
	font-size:13px;
	color:#CBCBCB;
	line-height:18px;
	font-size:11px;
	font-family: tahoma, arial, verdana
}

#content_area .col_3 .profile_1 {
	width:270px;
	float:left;

}

#content_area .col_3 .profile_1 h3 {
	margin:0;
	padding:0;
	font-size:13px;
	color:#ffffff;
	text-decoration: underline
}

#content_area .col_3 .profile_1 a{ 
	color:#fff;
	text-decoration:none
}

#content_area .col_3 .profile_1 p {
	margin:0;
	padding:5px 0 0 0;
	font-size:11px;
	font-family:tahoma, arial, verdana;
	color:#ccc
}

#content_area .col_3 .profile_2 {
	width:150px;
	float:right;
	text-align:left;
	margin:0 0 0 0px
}


#content_area .col_3 .profile_2 h3 {
	margin:0;
	padding:0;
	font-size:13px;
	color:#CCCCCC;
	text-decoration: underline
}


#content_area .col_3 .profile_2 p {
	margin:0;
	padding:5px 0 0 0;
	font-size:11px;
	font-family:tahoma, arial, verdana;
	color:#ccc
}





#content_area .col_2 {
	width:240px;
	float:left;
	margin:15px 0px 0 60px;
	padding:0 24px 0 0
}

#content_area .col_2 h2 {
	margin:0;
	padding:8px 0 0 20px;
	font-size:17px;
	color:#fff;
	background:url(/assets/blt.png) no-repeat 0 15px;
}

#content_area .col_2 p {
	margin:0;
	padding:8px 0 0 0;
	font-size:13px;
	color:#CBCBCB;
	line-height:16px;
	font-size:11px;
	font-family: tahoma, arial, verdana
}

#content_area .col_2 ul {
	margin:0;
	padding:5px 0 0 10px;
	list-style:none
}

#content_area .col_2 ul li {
	font-size:11px;
	color:#CBCBCB;
	background:url(/assets/arrow.png) no-repeat 0 7px;
	padding:4px 0 0 15px;
}




#content_area .col_4 {
	width:265px;
	float:left;
	margin:0px 0px 0 10px;
	padding:0 0px 0 0;
}

#content_area .col_4 h4 {
	margin:0;
	padding:0;
	font-size:14px;
	border-bottom: solid 1px #ccc;
	color:#ccc
}

#content_area .col_4 p {
	margin:0;
	padding:8px 0 0 0;
	font-size:11px;
	font-family:tahoma, arial, verdana;
	color:#CCCCCC;
	line-height:15px;
	text-align:justify
}



#content_area h1 {
	margin:0;
	padding:10px 0 0 35px;
	font-size:22px;
	color:#CBCBCB;
	
	
}
.copyright {
	position:absolute;
	bottom:10px;
	text-align:right;
	width:100%;
	font-size:13px;
	color:#333333;	
	
}

.social_area {
	position:absolute;
	bottom:12px;
	right:30px;
	font-size:13px;
	color:#333333;
	vertical-align:top;
	line-height:40px;
}

.social_area img {
	vertical-align:top;
}
.social_area span {
	padding:0 20px 0 0 ;
}

.h3{
      font-color:#ffffff;
}

#content_area .col_13 .profile_1 a{ 
	color:#000;
	text-decoration:none
}

.profile_image{padding-right:5px; padding-bottom:20px; padding-left: 34px; width:65px; height:65px}
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#000;
  display:none;
   height:299px;
  width:519px;
}
  
#boxes .window {
  position:absolute;
  left:0;
  top:0;
  display:none;
  z-index:9999;
  background:url(/assets/pop2.png) no-repeat;
  height:360px;
  width:519px;
}

#boxes #dialog2 .inner {
	padding:20px;
}

#boxes #dialog2 .inner a {
	font-size:11px;
	color:#999999
}

#boxes #dialog .inner h1 {
	font-size:20px;
	letter-spacing:-1px;
	border-bottom: solid 1px #ccc;
}

#boxes #dialog2 .inner p {
	font-size:12px;
	padding:8px 0 0 0
}




#boxes2 .window {
  position:absolute;
  left:0;
  top:0;
  display:none;
  z-index:9999;
  background: #fff;

  width:519px;
   -webkit-border-radius: 20px; 
	-moz-border-radius: 20px;
	border-radius:20px;
}

#boxes2 #dialog2 .inner {
	padding:20px;
}

#boxes2 #dialog2 .inner a {
	font-size:11px;
	color:#999999
}

#boxes2 #dialog2 .inner h1 {
	font-size:20px;
	letter-spacing:-1px;
	border-bottom: solid 1px #ccc;
}

#boxes2 #dialog2 .inner p {
	font-size:12px;
	padding:8px 0 0 0
}

#boxes2 .window {
  position:absolute;
  left:0;
  top:0;
  display:none;
  z-index:9999;
  background: #fff;

  width:519px;
   -webkit-border-radius: 20px; 
	-moz-border-radius: 20px;
	border-radius:20px;
}

#boxes2 #dialog3 .inner {
	padding:20px;
}

#boxes2 #dialog3 .inner a {
	font-size:11px;
	color:#999999
}

#boxes2 #dialog3 .inner h1 {
	font-size:20px;
	letter-spacing:-1px;
	border-bottom: solid 1px #ccc;
}

#boxes2 #dialog3 .inner p {
	font-size:12px;
	padding:8px 0 0 0
}


#boxes2 .window {
  position:absolute;
  left:0;
  top:0;
  display:none;
  z-index:9999;
  background: #fff;

  width:400px;
   -webkit-border-radius: 20px; 
	-moz-border-radius: 20px;
	border-radius:20px;
}

#boxes2 #dialog1 .inner {
	padding:20px;
}

#boxes2 #dialog1 .inner a {
	font-size:11px;
	color:#999999
}

#boxes2 #dialog1 .inner h1 {
	font-size:20px;
	letter-spacing:-1px;
	border-bottom: solid 1px #ccc;
}

#boxes2 #dialog1 .inner p {
	font-size:12px;
	padding:8px 0 0 0
}

#boxes4 .window {
  position:absolute;
  left:0;
  top:0;
  display:none;
  z-index:9999;
  background: #fff;

  width:380px;
   -webkit-border-radius: 20px; 
	-moz-border-radius: 20px;
	border-radius:20px;
	border: solid 1px #ccc;
}

#boxes4 #dialog4 .inner {
	padding:20px;
}

#boxes4 #dialog4 .inner a {
	font-size:11px;
	color:#999999
}

#boxes4 #dialog4 .inner h1 {
	font-size:20px;
	letter-spacing:-1px;
	border-bottom: solid 1px #ccc;
}

#boxes4 #dialog4 .inner p {
	font-size:12px;
	padding:8px 0 0 0
}









#boxes5 .window {
  position:absolute;
  left:0;
  top:0;
  display:none;
  z-index:9999;
  background: #fff;

  width:380px;
   -webkit-border-radius: 20px; 
	-moz-border-radius: 20px;
	border-radius:20px;
	border: solid 1px #ccc;
}

#boxes5 #dialog5 .inner {
	padding:20px;
}

#boxes5 #dialog5 .inner a {
	font-size:11px;
	color:#999999
}

#boxes5 #dialog5 .inner h1 {
	font-size:20px;
	letter-spacing:-1px;
	border-bottom: solid 1px #ccc;
}

#boxes5 #dialog5 .inner p {
	font-size:12px;
	padding:8px 0 0 0
}














#boxes6 .window {
  position:absolute;
  left:0;
  top:0;
  display:none;
  z-index:9999;
  background: #fff;

  width:380px;
   -webkit-border-radius: 20px; 
	-moz-border-radius: 20px;
	border-radius:20px;
	border: solid 1px #ccc;
}

#boxes6 #dialog6 .inner {
	padding:20px;
}

#boxes6 #dialog6 .inner a {
	font-size:11px;
	color:#999999
}

#boxes6 #dialog6 .inner h1 {
	font-size:20px;
	letter-spacing:-1px;
	border-bottom: solid 1px #ccc;
}

#boxes6 #dialog6 .inner p {
	font-size:12px;
	padding:8px 0 0 0
}



#pagination {
	position:absolute;
	bottom:70px;
	left:660px;
}

#pagination ul {
	margin:0;
	padding:0;
	list-style:none
}

#pagination ul li {
	display: inline
	
}

#pagination ul li a {
	font-size:11px; text-align:center;
	padding:5px 8px 5px 8px;
	background:#333333;
	color:#fff;
	text-decoration:none
}

#pagination ul li a:hover {
	background:#000
}

.avtar{padding: 0 5px 25px 0}

 #dialog2 .inner {
	
}

#dialog2 .inner a {
	font-size:11px;
	color:#999999
}

#dialog2 .inner h1 {
	font-size:20px;
	letter-spacing:-1px;
	border-bottom: solid 1px #ccc;
}

#dialog2 .inner p {
	font-size:12px;
	
}