<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>The Indian Institute of Architects</title>
<%= stylesheet_link_tag "layout.css", "header-menu/fisheye-menu.css" %>
<%= javascript_include_tag "header-menu/fisheye.js", "jquery.min", "jquery-1.7.min", "core" %>

</head>

<body>
<div id="wrapper">
<!--sidebar start here-->
<div id="side_bar">
	<div class="menu">
    	<!-- BEGIN DOCK 2 ============================================================ -->
	<div>
		<ul id="fisheye_menu">
			<li style="padding-left:135px;"><a href="/home" class="fisheye"><img src="/assets/headermenu/home.png"/><span style="position:absolute;top:10px;left:180px;width:79px;padding:4px;margin:0;color:#cbcbcb;font-size:13px;"<p><b>HOME</span></a></li>
            
			<li style="padding-left:150px;"><a href="/committees" class="fisheye"><img src="/assets/headermenu/committee.png" /><span style="position:absolute;top:10px;left:210px;width:79px;padding:4px;margin:0;color:#cbcbcb;font-size:13px;">COMMITTEE</span></a></li>
			<li style="padding-left:160px;"><a href="/member" class="fisheye"><img src="/assets/headermenu/membersdirectory.png" /><span style="position:absolute;top:10px;left:215px;width:79px;padding:4px;margin:0;color:#cbcbcb;font-size:13px;">MEMBER DIRECTORY</span></a></li>
			<li style="padding-left:165px;"><a class="fisheye" href="#4"><img src="/assets/headermenu/achievements.png" /><span style="position:absolute;top:10px;left:220px;width:102px;padding:10px;margin:0;color:#cbcbcb;font-size:13px;">ACHIEVEMENTS</span></a></li>
			<li style="padding-left:165px;"><a class="fisheye" href="#5"><img src="/assets/headermenu/yearbook.png" /><span style="position:absolute;top:10px;left:218px;width:79px;padding:10px;margin:0;color:#cbcbcb;font-size:13px;">YEAR BOOK</span></a></li>
			<li style="padding-left:165px;"><a class="fisheye" href="#6"><img src="/assets/headermenu/publication.png" /><span style="position:absolute;top:10px;left:220px;width:89px;padding:10px;margin:0;color:#cbcbcb;font-size:13px;">PUBLICATIONS</span></a></li>
			<li style="padding-left:160px;"><a class="fisheye" href="#7"><img src="/assets/headermenu/library.png" /><span style="position:absolute;top:10px;left:210px;width:79px;padding:4px;margin:0;color:#cbcbcb;font-size:13px;">LIBRARY</span></a></li>
			<li style="padding-left:155px;"><a class="fisheye" href="#8"><img src="/assets/headermenu/architecture.png" /><span style="position:absolute;top:5px;left:190px;width:139px;padding:10px;margin:0;color:#cbcbcb;font-size:13px;">ARCHITECTURE<br /> HERITAGE OF <br />NAGPUR</span></a></li>
			<li style="padding-left:140px;"><a class="fisheye" href="#9"><img src="/assets/headermenu/album.png" /><span style="position:absolute;top:10px;left:185px;width:79px;padding:4px;margin:0;color:#cbcbcb;font-size:13px;">ALBUM</span></a></li>
			<li style="padding-left:130px;"><a class="fisheye" href="#10"><img src="/assets/headermenu/studentzone.png" /><span style="position:absolute;top:10px;left:190px;width:89px;padding:4px;margin:0;color:#cbcbcb;font-size:13px;">STUDENT ZONE</span></a></li>
			<li style="padding-left:110px;"><a class="fisheye" href="#11"><img src="/assets/headermenu/iiamembership.png" /><span style="position:absolute;top:10px;left:175px;width:89px;padding:4px;margin:0;color:#cbcbcb;font-size:13px; text-align:left">IIA MEMBERSHIP</span></a></li>
			<li style="padding-left:85px;"><a class="fisheye" href="#12"><img src="/assets/headermenu/whatsnew.png" /><span style="position:absolute;top:10px;left:140px;width:89px;padding:4px;margin:0;color:#cbcbcb;font-size:13px; ">WHAT'S NEW</span></a></li>
			<li style="padding-left:55px;"><a class="fisheye" href="#13"><img src="/assets/headermenu/contactus.png" /><span style="position:absolute;top:10px;left:110px;width:89px;padding:4px;margin:0;color:#cbcbcb;font-size:13px;">CONTACT US</span></a></li>
		</ul>
        
   
	</div><!-- end div #dockContainer -->
	<!-- END DOCK 2 ============================================================ -->
    
    </div>
</div>
<!--sidebar end here-->
<div id="main_wrapp">
	<div id="header">
    	<div class="logo"><img src="/assets/int_name.png" alt="" /></div>
        <div class="cm_logo"><img src="/assets/lg.png" alt="" /></div>
    </div>
    <div class="news_ticker">
    	<marquee onmouseover=this.stop()
                                onmouseout=this.start() scrollAmount=3 
                                scrollDelay=3 direction=left 
                                style="border: width:100%;" width="100%">
                                	Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ...
                                </marquee>
    </div>
    
    
      <%= yield %>
      
      
      
      <div style="position:absolute; top:556px; z-index:999; left:10px">
          	     <p align="center">

                      <div style="color:#000; text-align:center; padding:5px;  height:60px; margin:8px auto 0 22px; font-size:14px;">
      						<h1 class="flash" style="margin:0; padding:0; font-size:15px; color:#FF0000">Lorem ipsum dolor sit amet, consectetuer </h1>
      				</div>
                  </p>
          </div>


      </div>
      <div class="clear"></div>
      <!--<div class="copyright">Copyright 2011, All Rights Reserved</div>-->
      <div class="social_area"> <span> Copyright 2011, All Rights Reserved</span> <a href="http://www.blogger.com/" target="_blank"><img src="/assets/blog.png" alt="" /></a> <a href="http://www.facebook.com/" target="_blank"><img src="/assets/facebook.png" alt="" /></a> <a href="http://twitter.com/" target="_blank"><img src="/assets/twitter.png" alt="" /></a></div>

      </div>
      </body>
      </html>
      
