<div id="content_area">
    <h1>Member Directory</h1>
    <br>
    
   <div class="col_3" style="width:880px;">
   
   
   <% @members.each do |member|%>
    	<!-- Row 1 start -->
        <div class="profile_1">
        	
        <%= link_to image_tag("#{member.image_url(:thumb)}", :align => :left, :class => "profile_image"), {:controller=>"members",:action => 'show', :id=>"#{member.id}"}, :remote => true %>
        	
            <h3>
            	<%= link_to "#{member.name}", {:controller=>"members",:action => 'show', :id=>"#{member.id}"}, :remote => true %>
            </h3>
			<div class="clear"></div>  
        </div>
        
<!-- Row 1 start -->
			<div id="modal-box" style="display:none;"></div>
        
       <% end %> 
        
		


		

<div id="pagination">
	<ul>
    	<li><%= will_paginate @members %></li>
    </ul>
</div>




      <!-- Row 3 end -->
        <div class="clear"></div>
             
           
    </div>