<h1>Member Directory</h1>
    <br>
   <div class="col_3" style="width:880px;">
    	<!-- Row 1 start -->
        <div class="profile_1" style="width:300px;">
        	<a href="/members/id" name="modal"><img src="/assets/profile.jpeg" alt="" align="left"  style="padding-right:5px; padding-bottom:20px; padding-left: 34px; width:65px; height:65px";/></a>
            <h3><a href="/members/id" name="modal">John Doe</a></h3>
			<div class="clear"></div>  
        </div>
        
        <div class="profile_1" style="width:300px;">
        	<a href="#dialog4" name="modal"><img src="/assets/profile.jpeg" alt="" align="left"  style="padding-right:5px; padding-bottom:20px; padding-left: 34px; width:65px; height:65px";/></a>
            <h3><a href="#dialog4" name="modal">John Doe</a></h3>
			<div class="clear"></div>  
        </div>
        
        
		
		<!-- Booking confirmed popup -->
<div id="boxes2">

<div id="dialog1" class="window" style="margin:55px 0px 0px 210px;">
<div class="inner" style="font-weight:normal;">
<div style="padding-right:10px; text-align:right"><a href="#"class="close" style="font-size:11px; text-align:right"/>close  x</a></div>
<div>
	<img src="/assets/avtar.png" alt="" align="left"  style="padding-right:10px;"/><p style="color:#990000; margin:0; padding:0px 0 0 0"><strong>John Doe</strong></p>
    <p style="color:#000; margin:0; padding:8px 0 0 0"><strong>Designation</strong> : Director</p>
    <p style="color:#000; margin:0; padding:15px 0 0 0"><strong>Brief Description</strong> : </p>
    <p style="color:#000; margin:0; padding:8px 0 0 0; text-align:justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enimLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enimLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enimLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut </p>
</div>
</div>
</div>

</div>
<!--Booking confirmed popup end -->




<!-- Booking confirmed popup -->
<div id="boxes4">

<div id="dialog4" class="window" style="margin:55px 0px 0px 505px;">
<div class="inner" style="font-weight:normal;">
<div style="padding-right:10px; text-align:right"><a href="#"class="close" style="font-size:11px; text-align:right"/>close  x</a></div>
<div>
	<img src="/assets/avtar.png" alt="" align="left"  style="padding-right:10px;"/><p style="color:#990000; margin:0; padding:0px 0 0 0"><strong>John Doe</strong></p>
    <p style="color:#000; margin:0; padding:8px 0 0 0"><strong>Designation</strong> : Director</p>
    <p style="color:#000; margin:0; padding:15px 0 0 0"><strong>Brief Description</strong> : </p>
    <p style="color:#000; margin:0; padding:8px 0 0 0; text-align:justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enimLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enimLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enimLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
</div>
</div>
</div>

</div>
<!--Booking confirmed popup end -->
	<!-- Row 1 end -->
	
        <div class="clear"></div> 

	<!-- Row 2 start -->		
	<div class="profile_1" style="width:300px;">
        	<a href="#dialog2" name="modal"><img src="/assets/profile.jpeg" alt="" align="left"  style="padding-right:5px; padding-bottom:20px; padding-left: 34px; width:65px; height:65px"/></a>
            <h3><a href="#dialog2" name="modal">John Doe</a></h3>
			<div class="clear"></div>   
    </div>
    
    
    
    <div class="profile_1" style="width:300px;">
        	<a href="#dialog5" name="modal"><img src="/assets/profile.jpeg" alt="" align="left"  style="padding-right:5px; padding-bottom:20px; padding-left: 34px; width:65px; height:65px"/></a>
            <h3><a href="#dialog5" name="modal">John Doe</a></h3>
			<div class="clear"></div>   
    </div>
    
    

	<!-- Booking confirmed popup -->
<div id="boxes2">

<div id="dialog2" class="window" style="margin:140px 0px 0px 210px;">
<div class="inner" style="font-weight:normal;">
<div style="padding-right:10px; text-align:right"><a href="#"class="close" style="font-size:11px; text-align:right"/>close  x</a></div>
<div>
	<img src="/assets/avtar.png" alt="" align="left"  style="padding-right:10px;"/><p style="color:#990000; margin:0; padding:0px 0 0 0"><strong>John Doe</strong></p>
    <p style="color:#000; margin:0; padding:8px 0 0 0"><strong>Designation</strong> : Director</p>
    <p style="color:#000; margin:0; padding:15px 0 0 0"><strong>Brief Description</strong> : </p>
    <p style="color:#000; margin:0; padding:8px 0 0 0; text-align:justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enimLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enimLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enimLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
</div>
</div>
</div>

</div>
<!--Booking confirmed popup end -->






<!-- Booking confirmed popup -->
<div id="boxes5">

<div id="dialog5" class="window" style="margin:140px 0px 0px 505px;">
<div class="inner" style="font-weight:normal;">
<div style="padding-right:10px; text-align:right"><a href="#"class="close" style="font-size:11px; text-align:right"/>close  x</a></div>
<div>
	<img src="/assets/avtar.png" alt="" align="left"  style="padding-right:10px;"/><p style="color:#990000; margin:0; padding:0px 0 0 0"><strong>John Doe</strong></p>
    <p style="color:#000; margin:0; padding:8px 0 0 0"><strong>Designation</strong> : Director</p>
    <p style="color:#000; margin:0; padding:15px 0 0 0"><strong>Brief Description</strong> : </p>
    <p style="color:#000; margin:0; padding:8px 0 0 0; text-align:justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enimLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enimLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enimLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
</div>
</div>
</div>

</div>
<!--Booking confirmed popup end -->

       <!-- Row 2 end -->
		
        <div class="clear"></div>

		<!-- Row 3 start -->
		<div class="profile_1" style="width:300px;">
        	<a href="#dialog3" name="modal"><img src="/assets/profile.jpeg" alt="" align="left"  style="padding-right:5px; padding-bottom:20px; padding-left: 34px; width:65px; height:65px";/></a>
            <h3><a href="#dialog3" name="modal">John Doe</a></h3>
			<div class="clear"></div> 
       </div>
       
       
       <div class="profile_1">
        	<a href="#dialog6" name="modal"><img src="/assets/profile.jpeg" alt="" align="left"  style="padding-right:5px; padding-bottom:20px; padding-left: 34px; width:65px; height:65px";/></a>
            <h3><a href="#dialog6" name="modal">John Doe</a></h3>
			<div class="clear"></div> 
       </div>
       
       

	   <!-- Booking confirmed popup -->
<div id="boxes2">

<div id="dialog3" class="window" style="margin:220px 0px 0px 210px;">
<div class="inner" style="font-weight:normal;">
<div style="padding-right:10px; text-align:right"><a href="#"class="close" style="font-size:11px; text-align:right"/>close  x</a></div>
<div>
	<img src="/assets/avtar.png" alt="" align="left"  style="padding-right:10px;"/><p style="color:#990000; margin:0; padding:0px 0 0 0"><strong>John Doe</strong></p>
    <p style="color:#000; margin:0; padding:8px 0 0 0"><strong>Designation</strong> : Director</p>
    <p style="color:#000; margin:0; padding:15px 0 0 0"><strong>Brief Description</strong> : </p>
    <p style="color:#000; margin:0; padding:8px 0 0 0; text-align:justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enimLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enimLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enimLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat</p>
</div>
</div>
</div>

</div>





<div id="boxes6">

<div id="dialog6" class="window" style="margin:220px 0px 0px 505px;">
<div class="inner" style="font-weight:normal;">
<div style="padding-right:10px; text-align:right"><a href="#"class="close" style="font-size:11px; text-align:right"/>close  x</a></div>
<div>
	<img src="/assets/avtar.png" alt="" align="left"  style="padding-right:10px;"/><p style="color:#990000; margin:0; padding:0px 0 0 0"><strong>John Doe</strong></p>
    <p style="color:#000; margin:0; padding:8px 0 0 0"><strong>Designation</strong> : Director</p>
    <p style="color:#000; margin:0; padding:15px 0 0 0"><strong>Brief Description</strong> : </p>
    <p style="color:#000; margin:0; padding:8px 0 0 0; text-align:justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enimLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enimLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enimLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat</p>
</div>
</div>
</div>

</div>
<!--Booking confirmed popup end -->


<div id="pagination">
	<ul>
    	<li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
         <li><a href="#">Next</a></li>
    </ul>
</div>




      <!-- Row 3 end -->
        <div class="clear"></div>